body{
	background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	 /*background: white;*/
  /*background-image: url('/images/img-8.jpg');*/
  /*background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 100%;
  color: #000;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

}

.terms{
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	width:100%;
	/*height: 87vh;*/
	line-height: 50px;
}
.placeholder_item{
	color:grey;
}
.btn1{
	position:absolute;
	left:30%;
	width: 50%;
}
.btn2{
	position:relative;
	margin-bottom: 30px;
	margin-left:20px;
	left:50%;
	width: 44%;
}

.green{
	color: green;
}

.red{
	color: red;
}

.yellow{
	color: orange;
}