body{
	background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  height: 100%;
  width:100%;
  color: #000;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

}

.terms{
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	width:100%;
	/*height: 87vh;*/
	line-height: 50px;
}
.placeholder_item{
	color:grey;
}
.btn1{
	position:absolute;
	margin-left:5vw;
  left:10vw;
	width: 40vw;
  margin-right:5vw;

}
.btn2{
	/*position:relative;*/
	margin-bottom: 30px;
	margin-right:5vw;
	margin-left:55vw;
	width: 40vw;
}

.green{
	color: green;
}

.red{
	color: red;
}

.yellow{
	color:#808000;
}

.orange{
  color:orange;
}


/*************************** Image section ****************************/


.visualize_img {
	/*height: 200px;*/
  width:350px;
  margin-left: 20px;
   background-size: cover;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
  perspective: 200px;
  transition: all .2s ease;
}
.front1 {
  margin-right: 50px;
  z-index: 1;
}
.front2 {
  margin-right: 50px;
  z-index: 1;
}
.front3 {
  margin-right: 50px;
  z-index: 1;
}
.img_col {
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 50px;
  flex: 1;
  /*max-width: 50%;*/
  /*flex-basis: 50%;*/
}

.side {
  position: absolute;
  width: 10vw;
  height:100%;
  /*bottom: 0;*/
  z-index: 10;
}

.side.left1 {
  /*left: 9vw;*/
}
.side.left1:hover ~ .wrapper .front1 {
  transform: matrix3d(0.94, 0, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-10px);
}
.side.right1 {
  left:22%;
}
.side.right1:hover ~ .wrapper .front1 {
  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}


.side.left2 {
  /*left: 38%;*/
}
.side.left2:hover ~ .wrapper .front2 {
  transform: matrix3d(0.94, 0, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-10px);
}
.side.right2 {
  right:37%;
}
.side.right2:hover ~ .wrapper .front2 {
  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}


.side.left3 {
  /*left: 67%;*/
}
.side.left3:hover ~ .wrapper .front3 {
  transform: matrix3d(0.94, 0, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-10px);
}
.side.right3 {
  right: 2%;
}
.side.right3:hover ~ .wrapper .front3 {
  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head_col{
  margin-bottom: 20px;
  /*margin-top:-80px;*/
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  align:center;
}

.visual-section {
  background-color: #1c2237;
  padding: 40px 0;
}
.visual-subtitle {
  /*max-width: 440px;*/
  font-family:"Dosis", sans-serif;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  margin-left:40px;
  margin-right:40px;
  color:#f7f8fa;
}

.plot{
  width:30vw;
  background-size: cover;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
  perspective: 200px;
  display:flex;
  align-items: center;
  margin-left: 35vw;
  margin-bottom: 50px;
}

h2{
    text-align:center;
}
.visual-select{
  width:60vw;
  margin-left: 20vw;
  margin-right: 20px
}

.lite-btn  span{
  margin-left: 40px ;    
  right:0px;
}

.lite-btn{
  /*align-items: center;*/
  width:70vw;
  margin-left: 10vw;
  margin-right:15vw;
  
}
.lite-btn Button{
  width:70vw;
  diplay:flex;
}
.lite-btn Tooltip{
  width: 100vw;
}