video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
   /*background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.home_logo{
  position:absolute;
  margin-top: -120px;
  height:12rem;
}
.home_logo1{

  position:absolute;
  margin-top: 35px;
  height:7.5rem;
  animation: ani 7s infinite;
}
@keyframes ani{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

.hero-btns {
  margin-top: 90px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}


/************** Text Animation ****************/

/*.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 3.05vw;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.text.hidden:hover li.spaced {
  padding-left: 0.5em;
}
.text.hidden:hover li.ghost{
  opacity: 1;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
*/